In [ ]:
def is_bounded(x, lower, upper):
    return lower <= x <= upper

is_bounded(3, lower=2, upper=4)

True

In [ ]:
def is_bounded(x, lower=0, upper=10):
    return lower <= x <= upper

is_bounded(5)

True

In [ ]:
def func(*args): #args bisa diganti dengan variabel yang lain
  return args, type(args) 

func()

def do_mean(prefix, *data, suffix, x, y):
    print("prefix:", prefix)
    print("suffix:", suffix)
    print("x:", x)
    print("y:", y)

    if len(data):
        return sum(data) / len(data)
    return "no data provided"
  
do_mean(20, 1,2,3,4,5,6,7,8,9, suffix=10, y=5,x=2)

prefix: 20
suffix: 10
x: 2
y: 5

5.0

In [ ]:
def extend(sequence, *args):
  for arg in args :
    sequence.append(arg)
  return sequence

names = ["Josh", "Eric", "Joe"]
extend(names,*["Hannah", "Gerry"])
print(names)

['Josh', 'Eric', 'Joe', 'Hannah', 'Gerry']

In [ ]:
def func(**kwargs):
  return kwargs

func(name="bitlabs", batch=1, classes="DSCA")

{'batch': 1, 'classes': 'DSCA', 'name': 'bitlabs'}

In [ ]:
def func(x,y,*args, **kwargs):
  print("x:",x)
  print("y:",y)
  print("args:", args)
  print("kwargs:", kwargs)

func(2,3,1,2,3,4,(5,6), name="bitlabs", batch="1")

x: 2
y: 3
args: (1, 2, 3, 4, (5, 6))
kwargs: {'name': 'bitlabs', 'batch': '1'}

In [ ]:
def scope(x,y):
  zz = 10
  z = x * y

  def sum(x,y):
    return (x-y)
  
  return z + sum(x,y)

total = scope(5,10)
print("total:", total)
print("total with sum:",sum([5,10]))

total: 45
total with sum: 15