In [ ]:
five_to_nine = range(5, 10)
to_ten = range(10)
to_ten_with_two = range(0, 10, 2)

print(five_to_nine)
print(to_ten)
print(to_ten_with_two)
print()
print(list(five_to_nine))
print(list(to_ten))
print(list(to_ten_with_two))
print()

for x in five_to_nine :
  print(x)

range(5, 10)
range(0, 10)
range(0, 10, 2)

[5, 6, 7, 8, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[0, 2, 4, 6, 8]

5
6
7
8
9